# Use this file as a template to create your own .env file.

# Azure Document Intelligence
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=
AZURE_DOCUMENT_INTELLIGENCE_KEY=

# Azure Storage
AZURE_DOCUMENT_STORAGE_CONTAINER_NAME=
AZURE_DOCUMENT_STORAGE_ENDPOINT=
AZURE_DOCUMENT_STORAGE_KEY=

# Azure AI
AZURE_OPEN_AI_DEPLOYMENT=
AZURE_OPEN_AI_API_VERSION=
AZURE_OPEN_AI_ENDPOINT=
AZURE_OPEN_AI_KEY=